# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
.env

# Local/private data
data/raw/
data/private/
projects/**/data/*.csv
projects/**/data/*.xlsx
projects/**/data/*.parquet

# OS files
.DS_Store
Thumbs.db